<%= stylesheet_link_tag "welcome" %>

<h1>Coffee女子会です</h1>
<br />

<p class="chapter">
こんにちは！Coffee女子会です。<br />
この会では、少人数での自習形式を中心に、ときどき先生を呼んだり(多分)して、
</p>

<ul>
  <li><a href="http://jashkenas.github.com/coffee-script/">CoffeeScript</a>(JavaScript)が使えるようになること</li>
  <li>IT系女子と交流すること</li>
  <li>珈琲を楽しむこと</li>
</ul>

<p class="chapter">
を中心に活動していきたいと思っています。<br />
なので、珈琲だけ飲みに来たい方もぜひ！<br />
ありきたりな珈琲チェーン店（スイマセン）だけではなく、<br />
ちょっとおしゃれなCafeで集まったりもしようと思ってるので、<br />
気になる方はぜひ一度お越し下さい。
</p>
<br />

<p>
〜管理人より〜
</p>

<p class="chapter">
（なお、このサイトのコードは次の場所で公開されています。https://github.com/satomicchy/CoffeeGirl）
</p>

<p>
<!-- We hope you enjoy your coffee life! -->
</p>
