<h1>Coffee女子会です</h1>
<br />
<p>
こんにちは。Coffee女子会です。<br />
この会では、講義形式ではなく、自習形式を中心として、
</p>

<ul>
  <li>CoffeeScriptが使えるようになること</li>
  <li>IT系女子と交流すること</li>
  <li>珈琲を楽しむこと</li>
</ul>

<p>
いずれかに当てはまるように活動していきたいと思っています。<br />
なので、珈琲だけ飲みに来たい方もOK！<br />
ありきたりな珈琲チェーン店（スイマセン）だけではなく、<br />
ちょっとおしゃれなCafeで集まったりもしようと思ってるので、<br />
気になる方はぜひ一度おいでください。
</p>
<p>
We hope you enjoy your coffee life!
</p>
