<% @reports.each do |report| %>
  <div class="post">
    <h2 class="title"><%= report.event.title %></h2>
    <p class="meta"><span class="date"><%= report.created_at.strftime("%Y, %m, %d") %></span><span class="posted">Posted by <a><%= report.member.name %></a></span></p>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
      <p><%= report.report %></p>
      <p class="links">
	<a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;
	|&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="#" title="b0x w">Comments</a>&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
    </div>
  </div>
<% end %>

